<h1>
  <%= @user.username %>'s Dashboard
</h1>

<p>
  <%= button_to 'Edit Account', edit_registration_path(@user), method: :get %>
</p>

<p>
  <%= button_to 'Create New Search', new_search_path, method: :get %>
</p>