<h1>
  <%= @search.name %>
</h1>

<hr />

<h2>
  Areas
</h2>
<ul>
  <% @areas.each do |area| %>
    <li>
      <%= area.name %>
    </li>
  <% end %>
</ul>

<hr />

<h2>
  Refresh Interval
</h2>

<p>
  <%= @search.refresh_interval.capitalize %>
</p>

<hr />

<ul>
  <% @listings.each do |listing| %>
    <li>
      <%= link_to listing.title, listing.url, target: '_blank' %>
    </li>
  <% end %>
</ul>