<h1>
  <%= @search.name %>
</h1>

<hr />

<h2>
  Areas
</h2>
<ul>
  <% @areas.each do |area| %>
    <li>
      <%= area.name %>
    </li>
  <% end %>
</ul>

<hr />

<h2>
  Refresh Interval
</h2>

<p>
  <%= @search.refresh_interval.capitalize %>
</p>

<hr />

<!-- Ability to have a section of "new" listings -->
<!-- New listings are added to visited after clicking link -->
<ul>
  <% @results.each do |result| %>
  <!-- TODO: Ability to section by date posted -->
    <li>
      <%= link_to result.listing.title, result.listing.url, target: '_blank' %>
      <!-- Ability to blacklist this search association (but not delete the listing) -->
    </li>
  <% end %>
</ul>