// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';
@import 'forms';

// Mobile

html, body {
  background-color: $offwhite;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-family: 'Veranda', sans-serif;
  font-size: 1.7em;
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.4em;
  }
  hr {
    background-color: $charcoal;
    color: $charcoal;
    border: 0;
    border-radius: 2px;
    height: 5px;
  }
}

.content-box {
  background-color: $lightgrey;
  border-radius: .5em;
  margin-bottom: 2.5em;
}

.btn {
  font-size: 1.4em;
  margin: .2em;
  border-radius: .2em;
  padding: .5em;
  margin: .2em;
}

.btn-secondary {
  background-color: $mediumgrey;
}

.row {
  padding: .2em .5em;
}



// Desktop

@media all and (min-device-width: $breakbig) {
  html, body {
    font-size: 100%;
  }
}
